$body-background: #323539;
$header-email-back: #07997d;
$header-phone-1-back: #009fe2;
$header-phone-2-back: #ec6e31;
$about-title-back: rgba(227, 92, 30, 0.9);
$about-content-back: rgba(255, 255, 255, 0.7);
