extends layout

block content

  //- Header
  header
    .container
      img.slide-right(src='images/razno/logo-visual.png', alt='')
      .header-contacts
        #email.slide-left-1 info@vizual.hr
        #phone-1.slide-left-2 T: 052 642 345
        #phone-2.slide-left-3 M: 099 283 6360
    .line

  //- Carousel
  section.carousel
    img(src='images/razno/slider1.jpg', alt='Slider')

  //-div= files

  - const regex = /-(.*)\./g;
  each file in files

    nav.container
      ul.nav-list
        li.nav-links.hover13
          a(href='gallery.html')
            .items
              .image
                img(src='images/linkovi/' + file, alt='')
              .text.hvr-sweep-to-bottom= regex.exec(file)
                //-| REKLAME


      //       
        li.nav-links.hover13
          a(href='gallery.html')
            .items
              .image
                img(src='src/img/linkovi/kategorija-signalizacija.jpg', alt='')
              .text.hvr-sweep-to-bottom
                | CESTOVNA SIGNALIZACIJA
        li.nav-links.hover13
          a(href='gallery.html')
            .items
              .image
                img(src='src/img/linkovi/kategorija-luxsignalizacija.jpg', alt='')
              .text.hvr-sweep-to-bottom
                | LUKSUZNA ALU. SIGNALIZACIJA
        li.nav-links.hover13
          a(href='gallery.html')
            .items
              .image
                img(src='src/img/linkovi/kategorija-plovila.jpg', alt='')
              .text.hvr-sweep-to-bottom
                | OSLIKAVANJE PLOVILA
        li.nav-links.hover13
          a(href='gallery.html')
            .items
              .image
                img(src='src/img/linkovi/kategorija-vozila.jpg', alt='')
              .text.hvr-sweep-to-bottom
                | OSLIKAVANJE VOZILA
        li.nav-links.hover13
          a(href='gallery.html')
            .items
              .image
                img(src='src/img/linkovi/kategorija-fototapete.jpg', alt='')
              .text.hvr-sweep-to-bottom
                | FOTOTAPETE
        li.nav-links.hover13
          a(href='gallery.html')
            .items
              .image
                img(src='src/img/linkovi/kategorija-majice.jpg', alt='')
              .text.hvr-sweep-to-bottom
                | TISAK NA MAJICE
        li.nav-links.hover13
          a(href='gallery.html')
            .items
              .image
                img(src='src/img/linkovi/kategorija-stalci.jpg', alt='')
              .text.hvr-sweep-to-bottom
                | STALCI, ROLL-UP

  //- About
  section.about
    .container
      .about-grid-container
        .item-text
          .title
            span Istaknite se
          .content
            span
              | Imamo iskustvo i kvalitetu s kojima vam možemo ispuniti svaku želju. Koristimo
              | plexiglas, forex, alubond, aluminij, inox, željezo, drvo. U ponudi imamo digitalni
              | tisak velikog formata do širine 152cm. XXL tisak je pogodan za sve vrste oglašavanja
              | te aplikaciju printa u formatima kojima želite, izradu naljepnica,plakata, zidnih
              | fototapeta...
        .item-picture
          img(src='images/razno/img-printer.png', alt='')

  //- Contact
  #contact
    // <div class="container grid">
    .container.flex
      form.contact-form(method='POST')
        h2 Kontaktirajte nas
        // <div class="grid">
        // <div>
        .flex
          .form-group.relative.focusable
            input(type='text', name='ime', placeholder='ime')
            .bar
          .form-group.relative.focusable
            input(type='text', name='e-mail', placeholder='e-mail')
            .bar
        .form-group.relative.focusable
          input(type='text', name='naslov', placeholder='naslov')
          .bar
        .form-group.relative.focusable
          textarea(rows='30', name='poruka', placeholder='poruka')
          .bar
        .form-group
          button(type='submit') POŠALJI

      .links-container
        .links
          img(src='images/razno/location.png', alt='')
          h2 Ul. Družbe Sv. Ćirila i Metoda, Pazin
        .links
          img(src='images/razno/phone.png', alt='')
          h2 099 283 6360
        .links
          img(src='images/razno/email.png', alt='')
          h2 info@vizual.hr
        .links
          a(href='https://hr-hr.facebook.com/pages/category/Entrepreneur/Vizual-564128556996298/')
            img(src='images/razno/facebook.png', alt='')
        //    
          a(href='https://hr-hr.facebook.com/pages/category/Entrepreneur/Vizual-564128556996298/')
          a(href='https://hr-hr.facebook.com/pages/category/Entrepreneur/Vizual-564128556996298/')
          a(href='https://hr-hr.facebook.com/pages/category/Entrepreneur/Vizual-564128556996298/')
          a(href='https://hr-hr.facebook.com/pages/category/Entrepreneur/Vizual-564128556996298/')
