doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    //- <meta name="format-detection" content="telephone=no" />

    title Vizual d.o.o.

    // CSS
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.min.css')

body.body-theme

  // Dynamic content
  block content

  // Footer
  footer
    | Sva prava pridržana Vizual d.o.o.

    // JS
    script(src='javascripts/main.js')
